[Desktop Entry]
Type=Application
Name=Hollow
Comment=Encrypted distributed messaging
Exec=hollow-wrapper %u
Icon=com.anonlisten.Hollow
Terminal=false
Categories=Network;InstantMessaging;
MimeType=x-scheme-handler/hollow;
StartupWMClass=com.anonlisten.hollow
